// Library imports ------------------------------------------------------------
//
// Links to common libraries are included below. Place the files at the root 
// of the sass folder

//@import '../libs/...';

// Global vars ----------------------------------------------------------------

$base-font-size: 16px;
$base-line-height: 	1.5;
$total-columns: 12;
$default-gutter-width: 5% !default;
$default-column-breakpoint: 650px;
$max-container-width: 1140px; 
$min-page-padding: 4%;

// Imports --------------------------------------------------------------------

@import '../mixin/all';
@import 'functions';
