// Document -------------------------------------------------------------------

// Setting inherative box-sizing
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
	box-sizing: border-box;
    font-size: (strip($base-font-size) / 16) * 100 * 1%;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

// Global styles
body {
    font-family: $font-stack;
	font-size: 100%;
    color: $body-color;
	@extend %is-antialiased;
    line-height: $base-line-height;
    background-color: $white;
}

// MS viewport fix
// http://msdn.microsoft.com/en-us/library/ie/hh869615(v=vs.85).aspx
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

// MS touch-delay fix
// http://msdn.microsoft.com/en-us/library/ie/hh772044(v=vs.85).aspx
a,
input,
button {
	-ms-touch-action: none !important;
	touch-action: none !important;
}