// Reporting Module -----------------------------------------------------------
//
// Easily setup Success, Error, Warning, and Info messages and lists

$tintAmount: 80;

.report {
	padding: 1em 1.5em;
	color: $reporting-text;
	border-top-style: solid;
	border-top-width: 4px;

	// Note: colors below are configured in _config_site.scss

	&.is-success {
		border-top-color: $reporting-success;
		background: tint($reporting-success, $tintAmount);
	}

	&.is-info {
		border-top-color: $reporting-info;
		background: tint($reporting-info, $tintAmount);
	}

	&.is-warning {
		border-top-color: $reporting-warning;
		background: tint($reporting-warning, $tintAmount);
	}

	&.is-error {
		border-top-color: $reporting-error;
		background: tint($reporting-error, $tintAmount);
	}

	ul,
	ol {
		padding-left: 1.5em;
	}

	a,
	a:visited,
	a:hover,
	a:active {
		color: $reporting-text;
	}
}

ul.report,
ol.report {
	padding-left: 3em;
}
