// Selection color ------------------------------------------------------------

::-moz-selection,
::selection {
    background: shade($white, 10);
    text-shadow: none;
}

// General normalizing --------------------------------------------------------
//
// Headings, paragraphs and lists are provided with a lessened line-height,
// and push down content below them by 1em. Also provided, but commented out,
// is a rem based solution based on the $base-font-size
//
// Note: .report is also included here

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre {
	//@include rem(margin, 0, 0, strip($base-font-size)*1.5);
	margin: 0 0 1em 0;

	&:last-child {
		margin-bottom: 0;
	}
}

// Headings -------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
	color: $endeavour;

	&:not(:first-child) {
		padding-top: 1em;
	}
}

h1 {
	font-size: em(50);
}

h2 {
	font-size: em(24);
}

h3 {
	font-size: em(20);
}

// Paragraphs -----------------------------------------------------------------

p {
	/**/
}

// Lists ----------------------------------------------------------------------

ul,
ol {
	padding: 0 0 0 1.4em;
}

// Links ----------------------------------------------------------------------

a {
	color: $body-color;
}

// Code -----------------------------------------------------------------------

pre,
code {
	font-family: monospace;
	font-size: 14px;
}

pre {
	background-color: $solitude;
	padding: 15px;

	code {
		position: relative;
		padding-left: 20px;

		&:before {
			content: '$';
			position: absolute;
			top: 0;
			left: 0;
			opacity: .5;
			line-height: 1.1;
		}
	}
}
